*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@media (width > 768px) {
    .demo-navbar .landing-nav-header .landing-nav-logo a{
        color: var(--primary-color);
    }
    
    .demo-navbar .landing-nav-links li a{
        color: var(--darkGrey);
    }
    
    .demo-navbar .landing-nav-links li a:hover{
        color: var(--text-color);
    }
    
    
    .demo-navbar .landing-nav-btns .landing-btn.btn-primary{
        color: var(--darkGrey);
    }
    
    .demo-navbar .landing-nav-btns .landing-btn.btn-primary:hover{
        color: var(--primary-color);
    }
}



.demo-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 10px;
    background: var(--white);
}

.demo-wrapper{
    width: 720px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: rgba(11, 18, 32, 0.12) 0px 6px 20px 0px;
}

.demo-wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid var(--darkGrey);
}

.demo-wrapper header>span{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px !important;
}

.demo-wrapper form{
    margin: 35px 30px;
}

.demo-wrapper form .demo-dlb-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.demo-dlb-field .demo-field{
    position: relative;
    height: 50px;
    width: calc(100% / 2 - 13px);
}

.demo-wrapper form .demo-field input,
.demo-wrapper form .demo-message textarea{
    height: 100%;
    width: 100%;
    border: 1px solid var(--darkGrey);
    border-radius: 12px;
    padding: 0 18px 0 48px;
    font-size: 16px;   
}


.demo-wrapper form .demo-field input:focus,
.demo-wrapper form .demo-message textarea:focus{
    border: 1px solid var(--primary-color);
}

.demo-wrapper .demo-field i{
    position: absolute;
    left: 18px;
    top: 50%;
    font-size: 17px;
    font-weight: 500;
    color: var(--primary-color);
    pointer-events: none;
    transform: translateY(-50%);
}

.demo-wrapper form .demo-message{
    position: relative;
}

.demo-wrapper form .demo-message i{
    position: absolute;
    top: 12px;
    left: 3%;
    font-size: 22px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.demo-wrapper form .demo-message textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}

.demo-button-area{
    margin: 25px 0;
}

.demo-button-area button{
    padding: 13px 25px;
    font-size: 18px;
    border: none;
    background: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
}

@media (max-width: 600px) {


    .demo-wrapper{
        max-width: 720px;
        width: 100%;
        margin-top: 70px;
    }
    .demo-wrapper header{
        text-align: center;
    }

    .demo-wrapper form .demo-dlb-field{
        flex-direction: column;
        gap: 22px;
    }
    .demo-wrapper form .demo-dlb-field .demo-field{
        width: 100%;
    }

    .demo-wrapper form .demo-button-area button{
        width: 100%;
    }
}