*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.edit-main{
    max-width: 1100px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 20px;
}


.edit-left{
    margin: 50px 0;
    width: 100%;
    padding: 0 48px;
    background-color: var(--white);
    box-shadow: rgba(16, 24, 40, 0.4) 0px 2px 10px 0px;
    border-radius: 16px;
}

.edit-details{
    padding: 68px 0;
}

.edit-details img{
    width: 100%;
    height: 100%;
    max-width: 80px;
    display: inline-block;
    object-fit: cover;
    object-position: center;
    /* margin-bottom: 1rem; */
}

.edit-content{
    margin-bottom: 1rem;
}

.edit-title{
    font-size: 20px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 0.3em;
}

.edit-descp{
    font-size: 14px;
    font-weight: 500;
    color: var(--darkGrey);
}

.edit-input-container{
    width: 100%;
    margin-bottom: 2rem;
}

.edit-input-label{
    font-weight: 800;
    margin-bottom: 0.4rem;
}

.edit-textarea{
    height: 100%;
    width: 100%;
    border: 1px solid var(--darkGrey);
    border-radius: 12px;
    font-size: 16px;   
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 18px;
    resize: both;
}

.edit-maxwords{
    font-size: 12px;
    font-weight: 700;
    color: var(--darkGrey);
}

.edit-generate-btn{
    width: 100%;
    padding: 12px 12px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 16px;
}

.edit-right{
    margin: 50px 0;
    width: 100%;
    /* padding: 0 48px; */
    background-color: var(--white);
    box-shadow: rgba(16, 24, 40, 0.4) 0px 2px 10px 0px;
    border-radius: 16px;
    /* background-color: var(--primary-color); */
}

.edit-right-header{
    width: 100%;
    padding: 16px;
    background-color: var(--white);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 1rem;
}

.edit-header-title{
    font-size: 18px;
    font-weight: 800;
}

.edit-copy-btn{
    padding: 10px 10px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
}

.edit-right-container{
    padding: 0 18px;
    width: 100%;
    display: grid;
    gap: 0;
}

.edit-tool-list{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    overflow: hidden;
    gap: 10px;
    border: 1px solid var(--grey);
    padding: 20px;
    border-radius: 5px;
    background-color: var(--white);
    margin-bottom: 1rem;
}

.edit-tool-btn{
    display: block;
    border: 1px solid var(--darkGrey);
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}

.edit-tool-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.edit-output{
    overflow-y: scroll;
    height: 400px;
    padding: 1rem;
    border: 1px solid var(--darkGrey);
    border-radius: 16px;
    background-color: var(--white);
}

.edit-generate-btn:disabled{
    cursor: not-allowed;
    opacity: 0.4;
    background-color: var(--darkGrey);
    color: var(--white);
}

@media screen and (max-width: 768px) {
    .edit-main{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .edit-right{
        margin-top: -20px;
        min-height: 600px;
        margin-bottom: 2rem;
        border-radius: 16px;
    }

    .edit-right-header{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .edit-tool-list{
        width: 80%;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    .edit-output{
        max-width: 300px;
        height: 400px;
        width: 100%;
        
    }
}